<header class="header">
    <a href="/" class="header_logo">NodeJs</a>

    <nav class="header_nav">
        <ul>
            <li><a href="/" class="<%= isActiveRoute('/', currentRoute) %>">home</a></li>
            <li><a href="/about" class="<%= isActiveRoute('/about', currentRoute) %>">about</a></li>
            <li><a href="/contact" class="<%= isActiveRoute('/contact', currentRoute) %>">contact</a></li>
        </ul>
    </nav>
    <div class="header_btn">
        <button class="searchBtn" aria-expanded="false">
            Search
            <svg width="17" height="17" class="" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><title>Search Icon</title><path d="M10.5 18C14.6421 18 18 14.6421 18 10.5C18 6.35786 14.6421 3 10.5 3C6.35786 3 3 6.35786 3 10.5C3 14.6421 6.35786 18 10.5 18Z" stroke="#717478" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"></path><path d="M16 16L21 21" stroke="#717478" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"></path></svg>
        </button>
    </div>
</header>