<div class="author">
    <h1 class="author_heading">Hello, I'm Ankush</h1>
    <p class="author_para">Web developer and Life long learner</p>
</div>

<img src="../img/hero-image.webp" alt="person is looking outside through window" class="hero-image" height="528" width="981">

<section class="article">
    <h2 class="article_heading">Latest Posts</h2>
    <ul class="article_ul">
        <% data.forEach(post => { %>
            <li>
                <a href="/post/<%= post._id %>">
                    <span><%= post.title %></span>
                    <span class="article-list_date"><%= post.createdAt.toDateString()%></span>
                </a>
            </li>
        <% }) %>
    </ul>

    <% if (nextPage !== null) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt; View older posts</a>
    <% } %>
</section>